body {
  background-color: rgb(240 240 240);
  font-family: "Proza Libre", sans-serif;
}

label,
button,
#new {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

label {
  font-size: 18px;
}

input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
}

img {
  width: 100%;
}

header {
  font-size: 18px;
  background-color: #562b81;
  color: white;
  padding: 10px 0;
}

input {
  border-color: #e5e5e5;
  border-style: solid;
}

textarea {
  resize: none;
  border-width: 2px;
  border-color: #562b81;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

button,
#new {
  background-color: #562b81;
  color: white;
  border-radius: 5px;
  width: 70px;
  padding: 5px;
  font-size: 14px;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.margin-top-bottom-auto {
  margin-top: auto;
  margin-bottom: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  display: inline;
  font-size: 16px;
  padding: 0 10px;
}

a {
  color: white;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

i {
  margin-top: auto;
  margin-bottom: auto;
  color: #562b81;
  font-size: 24px;
}

i:hover {
  cursor: pointer;
}

.delete {
  text-decoration: underline;
  color: #e36969;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  z-index: 3;
  width: 420px;
  height: 160px;
  border-radius: 5px;
  padding: 15px;
}

.overlay {
  position: fixed;
  background-color: rgb(0 0 0 / 80%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.orange-button {
  background-color: #eb5d5d;
  color: white;
  border: none;
  width: 85px;
  height: 40px;
  border-radius: 5px;
  margin-top: 24px;
}

.gray-button {
  background-color: #b6b6b6;
  color: black;
  border: none;
  width: 85px;
  height: 40px;
  border-radius: 5px;
  margin-top: 24px;
}

.delete:hover {
  cursor: pointer;
}

.white {
  color: white;
}

.wide {
  width: 200px;
}
